/** ----------------------------------------------------------
 *
 * Contains the main layout of the page and the individual styles. 
 * Acts as the main stylesheet for theme.
 *
 * 		Include your notes or table of contents below....
 *		Include color hex's or values of your grid
 *
 * @author Your Name <email@silverstripe.com>
 * ------------------------------------------------------- */

@import 'variables';
@import 'mixins';
@import 'functions';

/* MAIN LAYOUT */

body {
	margin: 0;
	background: $offWhite;
	min-width: 240px;
	-webkit-text-size-adjust: none;
	.ie7 &, .ie8 & {
		min-width: 860px;
	}
}

.main {
	background: $white;
	padding: $grid-y*8 0 $grid-y*12;
	min-height: 300px;
}
.inner {
	max-width: 1100px;
	margin: 0 auto;
	padding: 0 $grid-x*6;
	.ie6 & {
		width: 960px;
	}
}
.content-container {
	float: right;
	width: 73%;
}

.no-sidebar {
	.content-container {
		float: left;
		width:100%;
	}
	aside {
		display: none;
	}
}

aside {
	float: left;
	width: 23%;
	margin-top: 12px;
}


/* MIXED */

header,
.main,
#Root,
.search-bar,
header .inner,
footer {
	@include clearFix;
}

.search-bar form input.action,
.header .primary li a,
.footer a {
	@include transition(color, 0.2s); //($type, $time)
}

.footer a.brand {
	color: $grayDarker; 
	margin-left: 0;
	&:hover {
		color: $linkColor;
	}
}

body h1 span.amp {
	font-family: $altSerifFontFamily;
	font-style: italic;
}


/* PAGE SPECIFIC LAYOUT SASS files are found in the pagetypes folder*/
@import "pagetypes/*";

