/* Secondary navigation */
.main {
	.secondary {
		border-bottom: 1px solid $grayLighter;
		h3 {
			font-size: rem(1.55);
			line-height: rem-line-height(1.55);
			color: lighten($gray, 10%);
			margin: 0 0 8px 0;
			font-family: $serifFontFamily;
			font-weight: normal;
		}
		ul {
			padding: 0;
			margin: 0;
			li {
				border-top: 1px solid $grayLighter;
				position: relative;
				list-style-type: none;
				margin-bottom: 0;
				a {
					padding: $grid-y*2 0;
					display: block;
					text-transform: uppercase;
					letter-spacing: 2px;
					font-size: rem(0.85);
					line-height: rem(1.3); //needs to have a specific lineheight that is not based on $baseLineHeight
					color: $grayDarker;
					border-bottom: none;
					font-family: $baseFontFamily;
					.arrow {
						color: $linkColor;
						padding-right: $grid-x;
						display: block;
						font-size: rem(1.15);
						line-height: rem-line-height(1.15);
						position: absolute;
						left: 2px;
						top: 7px;
						@include transition(0.2s);
					}
					&:hover {
						.arrow {
							left: 6px
						}
					}
					.text {
						padding-left: 28px;
						display: block;
					}
				}
				&.current a.current {
					color: $linkColor;
				}
				&.section,
				&.current {
					background-color: $offWhite;
					a {
						color: $black;
					}
				}
			}
		}
		h3 {
			color: lighten($gray, 10%);
		}
	}
}


/* Secondary navigation 2-5 levels deep */
.main {
	.secondary {
		ul {
			ul {
				display: none;
				li a { //Indent all sidebar navigation levels
					padding-left: $grid-x*2;
					.arrow { left: 12px; }
					&:hover .arrow { left: 16px; }
				}
				ul li a {
					padding-left: $grid-x*4;
					.arrow { left: 22px; }
					&:hover .arrow { left: 26px; }
				}
				ul ul li a {
					padding-left: $grid-x*6;
					.arrow { left: 32px; }
					&:hover .arrow { left: 36px; }
				}
				ul ul ul li a {
					padding-left: $grid-x*8;
					.arrow { left: 32px; }
					&:hover .arrow { left: 36px; }
				}
			}
			li.current,
			li.section {
				ul {				/* Only show child pages from selected parent */
					display: block;
					ul {
						display: none;
					}
				}
			}
			li a:hover,
			li.section a:hover,
			li.current a:hover {
				color: $linkColor;
			}
		}
	}
}
