/* Simple theme variables */

/* COLORS */

$white:                   #ffffff;
$offWhite:                #f7f7f7;
$black:                   #000000;

$grayLighter:             #e5e5e5;
$grayLight:               #d4d4d4;
$gray:                    #888888;
$grayDark:                #444444;
$grayDarker:              #333333;

$messageBackgroundColor:  #fef4ba;
$messageColor:            #e8c805;

$goodBackgroundColor:     #ecf9d0;
$goodColor:               #8fbe00;

$requiredBackgroundColor: #f9d0d0;
$requiredColor:           #cf0000;

$baseFontColor:           $grayDarker;
$linkColor:               #b80000;
$linkColorHover:          #d80000;

$headerColor:             #161616;

/* FONTS */

$baseFontSize:            13px; //must be set in pixels
$baseLineHeight:          1.3rem; //must be set in terms of rem (relative to the base font size)

$baseFontFamily:          Arial, Helvetica, sans-serif;
$sansFontFamily:          "HelveticaNeueLTPro-Bd", "Helvetica Neue LT Pro Bold", "HelveticaNeueBold", "HelveticaNeue-Bold", "Helvetica Neue Bold", "Helvetica Neue LT Pro", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
$serifFontFamily:         "CamboRegular", Georgia, "Times New Roman", Times, serif;
$altSerifFontFamily:      Baskerville,"Goudy Old Style","Palatino","Book Antiqua",Georgia;
$iconFont:                'WebSymbolsRegular';

/* GRID */

$grid-y:                  5px;
$grid-x:                  5px;
